<app-navbar-main></app-navbar-main>

<div class="eventpage-container">
  <div style="display: flex" class="memberdis">
    <app-memberdisplay></app-memberdisplay>
  </div>

  <div class="eventpage-wrapper">
    <div style="display: flex; justify-content: space-between" class="div-flex">
      <h1>{{ com.name }}</h1>
      <a routerLink="/event/create" class="create-event">Create Events</a>
    </div>

    <img
      src="https://wallpapercave.com/wp/wp2646833.jpg"
      style="
        height: 400px;

        width: 100%;

        object-fit: cover;

        border-radius: 8px;

        margin-bottom: 20px;
      "
      alt=""
    />

    <p>IsExclusive {{ com.isExclusive }}</p>
    <p>IsPremium {{ com.isPremium }}</p>
    <p>Price {{ com.price }}</p>
    <div *ngIf="isMine">
      <button class="primary-btn">Delete Community</button>
    </div>
    <div *ngIf="!isMine">
      <button class="primary-btn">Join</button>
    </div>
  </div>
</div>
