<div style="padding: 0 50px 0 50px; display: flex; justify-content: start; gap: 20px; flex-wrap: wrap;"
    class="wrapper-list">
    <div class="list-c" style="max-width: 300px;">
        <img style="object-fit: contain; border-radius: 12px; background-color: #2b2b2b"
            src="https://th.bing.com/th/id/OIP.KRTsmxgy3qRHl8Zke8xtxAHaD7?pid=ImgDet&rs=1" alt="" width="100%">
        <p style="background-color: #2b2b2b;font-size: 16px; color:#fff">{{name}}</p>
        <p style="background-color: #2b2b2b;font-size: 16px; color:#fff">Capacity: {{capacity}}</p>
        <p style="background-color: #2b2b2b; font-size: 16px; color:#fff">Amenities: {{location}}</p>
        <p style="background-color: #2b2b2b; font-size: 16px; color:#fff">Amenities: {{Amenities}}</p>
        <p style="background-color: #2b2b2b; font-size: 16px; color:#fff">Price: {{price}}</p>
        <p style="background-color: #2b2b2b; font-size: 16px; color:#fff">Available</p>
    </div>
</div>