.list-c {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 18px;
    background-color: #2b2b2b;
    border-radius: 18px;
}

.list-c:hover {
    transform: scale(1.01);
}

.wrapper-list {
    display: flex;
    margin-top: 24px;
}