<div class="login-wrapper">
    <div class="navbar">
        <p class="logo">EventO</p>
        <ul>
            <li><a href="">About Us</a></li>
            <li><a href="/login'">Communities</a></li>
            <li><a href="/login'">Login</a></li>
        </ul>
    </div>
    <h1 style="color: #fff; align-self: center; margin: 32px;">Login</h1>
    <input class="inputField" type="text" name="ForId" id="ForId" placeholder="Enter Email">
    <input class="inputField" type="text" name="ForId" id="ForId" placeholder="Enter Password">
    <button class="primary-btn">Login</button>
</div>