<div class="wrap">
  <app-nav-bar></app-nav-bar>
</div>
<form class="login-wrapper" (submit)="onSubmit()">
  <h1 style="color: #fff; align-self: center; margin: 32px">Login</h1>
  <input style="color: #fff;" [(ngModel)]="user.Email" class="inputField" type="email" name="ForId" id="ForId"
    placeholder="Enter Email" required />
  <input style="color: #fff;" [(ngModel)]="user.Password" class="inputField" type="text" name="ForId" id="ForId"
    placeholder="Enter Password" />
  <button class="primary-btn">Login</button>
</form>