<div class="home-wrapper">
  <app-navbar-main></app-navbar-main>
  <br />
  <br />
  <br />
  <br />
  <div class="home-container">
    <div class="side-navbar">
      <app-sidebar topComs="React">
      </app-sidebar>
    </div>
    <div class="postAndcomm-wrapper">
      <app-home-func (type)="getType($event)"></app-home-func>
      <div *ngIf="type == '1'">
        <div *ngFor="let ev of events">
          <app-event-post
            title="{{ ev.Name }}"
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos! Lorem ipsum dolor sit amet consectetur adipisicing elit."
            rules="{{ ev.Rules }}"
            userProfile="{{ ev.UserId }}"
            memberJoined="42"
          ></app-event-post>
        </div>
      </div>
      <div *ngIf="type != '1'">
        <div *ngFor="let comm of communities">
          <app-community-card
            title="{{ comm.Name }}"
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos! Lorem ipsum dolor sit amet consectetur adipisicing elit."
            rules="Lorem ipsum dolor sit amet consectetur adipisicing elit."
            userProfile="{{ comm.UserId }}"
            memberJoined="139"
          >
          </app-community-card>
        </div>
      </div>
    </div>
  </div>
</div>