.home-wrapper {
    display: flex;
    height: fit-content;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    /* background-color: antiquewhite; */
}

.logo {
    width: 81px;
    height: 28px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.navbar {
    width: 100%;
    height: 40px;
    padding-top: 24px;
    padding-left: 50px;
    padding-right: 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: sticky;
    /* background-color: antiquewhite; */
}

.navbar ul {
    display: flex;
    gap: 14px;
}

.home-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 0 50px;
}

.side-navbar {
    width: 100%;
    max-width: 200px;
    background-color: #fff;
}

.event-post,
.community-post {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 12px;
    height: fit-content;
    background-color: #2B2B2B;
    border-radius: 8px;
}

.post-wrapper,
.community-wrapper {
    /* background-color: aqua; */
    display: flex;
    gap: 12px;
}

.event-post h2,
.event-post p,
.community-post h2,
.community-post p {
    background-color: #2B2B2B;
    padding: 4px;
    color: #fff;
}

.postAndcomm-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.user-member {
    background-color: #2B2B2B;
    display: flex;
}

.user-member img {
    border-radius: 50%;
}

.user-mem-people {
    display: flex;
    justify-content: space-between;
    background-color: #2B2B2B;
}