<div class="home-wrapper">
    <div class="navbar">
        <p class="logo">EventO</p>
        <ul>
            <li><a href="">About Us</a></li>
            <li><a href="/login'">Communities</a></li>
            <li><a href="/login'">Login</a></li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="home-container">

        <div class="side-navbar">
            <app-sidebar>

            </app-sidebar>
        </div>
        <div class="postAndcomm-wrapper">

            <app-event-post title="Dummy Title" description="This is dummy description" rules="This is dummy rules"
                userProfile="User-1" memberJoined="123"></app-event-post>

            <div class="community-wrapper">
                <div class="community-post">
                    <img src="https://uploads.sarvgyan.com/2014/08/event-management.jpg"
                        style="height: 200px; width:100%; object-fit: cover; border-radius: 8px;" alt="">
                    <h2>Community Name</h2>
                    <p>This is a dummy description for the event</p>
                </div>
            </div>
        </div>

    </div>
</div>