<div class="post-wrapper">
<div class="event-post">
    <img src="https://uploads.sarvgyan.com/2014/08/event-management.jpg"
        style="height: 200px; width: 100%; object-fit: cover; border-radius: 8px;" alt="">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <br>
    <p>{{rules}}</p>
    <br>
    <div class="user-mem-people">
        <div class="user-member">
            <img src="https://th.bing.com/th/id/OIP.RZlM4DvoR7A-UpM9grW2JAHaHj?pid=ImgDet&rs=1" alt="profile-img"
                height="24px" width="24px">
            <p style="color:#fff;">{{userProfile}}</p>
        </div>
        <p>{{memberJoined}} Members</p>
    </div>
</div>
</div>