<app-navbar-main></app-navbar-main>
<div class="eventpage-container">
    <div style="display: flex; " class="memberdis">
        <app-memberdisplay></app-memberdisplay>
    </div>
    <div class="eventpage-wrapper">
        <h1>Event Details</h1>
        <img src="https://wallpapercave.com/wp/wp2646833.jpg" style="
      height: 400px;
      width: 100%;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 20px;
    " alt="">
        <div class="date-time">
            <p>24/06/2023</p>
            <p>19:00</p>
        </div>
        <p>Duration: 4 Hours</p>
        <p>Rules</p>
        <button class="primary-btn">Join</button>
    </div>
</div>