.user-wrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    /* background-color: aqua; */
    padding: 24px 0 0 0;
}



.user-member {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-top: 8px;
    gap: 4px;

}

.user-member img {
    /* padding: 2px; */
    border-radius: 50%;
}

.user-mem-people {
    display: flex;
    justify-content: space-between;
    background-color: #2b2b2b;
}