.landing-wrapper {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

.hero {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 75px;
  text-align: center;

  margin-top: 90px;
  /* background-color: antiquewhite; */
  color: var(--color-white);
}

.hero1 {
  font-weight: 600;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  min-height: 420px;
}

.getStart {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding: 12px 24px;
  background: #502987;
  width: 180px;
  height: 52px;
  border-radius: 8px;
  color: #fff;
  border: none;
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  margin: auto;
}
