<body>
    <nav>
      <div class="wrapper">
        <div class="title">
          <h1>Admin Dashboard</h1>
          <h4>Total Customers: 23,004</h4>
        </div>
      </div>
    </nav>
  
    <section>
      <div class="background-top"></div>
  
      <div class="container">
        <div class="card facebook-card">
          <div class="card-title">
            <div class="icon"></div>
            <p></p>
          </div>
  
          <div class="card-content">
            <h1>1987</h1>
            <h3>Followers</h3>
          </div>
  
          <div class="card-footer">
            <div class="footer-wrapper">
              <div class="icon-up"></div>
              <h4>12 Today</h4>
            </div>
          </div>
        </div>
  
        <div class="card twitter-card">
          <div class="card-title">
            <div class="icon"></div>
            <p></p>
          </div>
  
          <div class="card-content">
            <h1>1044</h1>
            <h3>Followers</h3>
          </div>
  
          <div class="card-footer">
            <div class="footer-wrapper">
              <div class="icon-up"></div>
              <h4>99 Today</h4>
            </div>
          </div>
        </div>
  
  
  
        
  
        <div class="card yt-card">
          <div class="card-title">
            <div class="icon"></div>
            <p></p>
          </div>
  
          <div class="card-content">
            <h1>8239</h1>
            <h3>Followers</h3>
          </div>
  
          <div class="card-footer">
            <div class="footer-wrapper">
              <div class="icon-down"></div>
              <h4>144 Today</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section>
      <div class="container title">
        <h2>Overview - Today</h2>
      </div>
    </section>
    <section>
      <div class="container marg">
        <div class="card-two">
          <div class="card-two-title">
            <p>Page Views</p>
            <div class="icon-face"></div>
          </div>
          <div class="card-two-content">
            <h2>78</h2>
            <div class="icon"></div>
            <h4>3%</h4>
          </div>
        </div>
  
        <div class="card-two">
          <div class="card-two-title">
            <p>Likes</p>
            <div class="icon-face"></div>
          </div>
          <div class="card-two-content">
            <h2>52</h2>
  
            <h4 id="down">2%</h4>
          </div>
        </div>
  
        <div class="card-two">
          <div class="card-two-title">
            <p>Likes</p>
            <div class="icon-insta"></div>
          </div>
          <div class="card-two-content">
            <h2>5462</h2>
  
            <h4>2257%</h4>
          </div>
        </div>
  
        <div class="card-two">
          <div class="card-two-title">
            <p>Page Views</p>
            <div class="icon-insta"></div>
          </div>
          <div class="card-two-content">
            <h2>52k</h2>
  
            <h4>1357%</h4>
          </div>
        </div>
  
        <div class="card-two">
          <div class="card-two-title">
            <p>Retweets</p>
            <div class="icon-twitter"></div>
          </div>
          <div class="card-two-content">
            <h2>177</h2>
  
            <h4>303%</h4>
          </div>
        </div>
  
        <div class="card-two">
          <div class="card-two-title">
            <p>Likes</p>
            <div class="icon-twitter"></div>
          </div>
          <div class="card-two-content">
            <h2>507</h2>
  
            <h4>553%</h4>
          </div>
        </div>
  
        <div class="card-two">
          <div class="card-two-title">
            <p>Page Views</p>
            <div class="icon-yt"></div>
          </div>
          <div class="card-two-content">
            <h2>78</h2>
  
            <h4 id="down">19%</h4>
          </div>
        </div>
  
        <div class="card-two">
          <div class="card-two-title">
            <p>Page Views</p>
            <div class="icon-yt"></div>
          </div>
          <div class="card-two-content">
            <h2>78</h2>
  
            <h4 id="down">12%</h4>
          </div>
        </div>
      </div>
    </section>
    <footer class="footercolor">
      <br>
      <br>
    </footer>
  
    <script src="index.js" type="text/javascript"></script>
  </body>