.logo {
  width: 81px;
  height: 28px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.sidebar {
  width: 100%;
  top:140px;
  z-index: 99;
  width: fit-content;
  color: var(--color-white);
  position: fixed;
  /* background-color: antiquewhite; */
}

.navbar ul {
  display: flex;
  gap: 14px;
}

.sidebar {
  gap: 16px;
  display: flex;
  flex-direction: column;
}
