<div class="comm-card">
  <div class="comm-badge">Community</div>
  <img
    src="https://uploads.sarvgyan.com/2014/08/event-management.jpg"
    style="
      height: 200px;
      width: 100%;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 20px;
    "
    alt=""
  />
  <h2>{{ title }}</h2>
  <p class="gray-text">{{ description }}</p>
  <br />
  <p class="gray-text">{{ rules }}</p>
  <br />
  <div class="user-mem-people">
    <div class="comm-member">
      <img
        src="https://th.bing.com/th/id/OIP.RZlM4DvoR7A-UpM9grW2JAHaHj?pid=ImgDet&rs=1"
        alt="profile-img"
        height="24px"
        width="24px"
      />
      <p style="color: var(--color-white)">{{ userProfile }}</p>
    </div>
    <div class="comm-members">{{ memberJoined }} Members</div>
  </div>
</div>
