.comm-card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: left;
  padding: 12px;
  height: fit-content;
  background-color: #2b2b2b;
  border-radius: 8px;
}

.comm-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.4);
  color: #f6f6f6;
  padding: 6px 8px;
  font-size: 12px;
  border-radius: 6px;
  cursor: context-menu;
}

.event-comm h2 {
  background-color: #2b2b2b;
  padding: 4px;
  color: #fff;
}
.event-comm p {
  background-color: #2b2b2b;
  padding: 4px;
}

.gray-text {
  color: #c7c7c7;
}

.commAndcomm-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.comm-member {
  background-color: #2b2b2b;
  display: flex;
  cursor: pointer;
}

.comm-member img {
  border-radius: 50%;
}

.user-mem-people {
  display: flex;
  justify-content: space-between;
  background-color: #2b2b2b;
}

.comm-members {
  background-color: #2b2b2b;
  padding: 4px;
  color: #c7c7c7;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.comm-members:hover {
  color: #fff;
  transform: scale(1.05);
}
