<app-navbar-main></app-navbar-main>

<div class="container">
  <div class="header">
    <h1>Host a Event</h1>
  </div>

  <form name="">
    <div class="form-group1">
      <button class="btn btn-secondary">
        <app-user-display [user]="user"></app-user-display>
      </button>

      <span class="span">/</span>

      <span>
        <div>
          <input
            id="repositoryName"
            class="form-control1"
            placeholder="Enter community name"
            [(ngModel)]="event.Name"
          />
        </div>
      </span>
    </div>

    <br />
    <div class="form-group">
      <label for="communitydesc">Space Id </label>
      <app-dropdown
        [items]="spaces"
        (sendOutValue)="onSelectSpace($event)"
      ></app-dropdown>
    </div>

    <div style="display: flex; gap: 40px">
      <div class="form-group">
        <label for="rulesdesc">Date</label>
        <input
          style="width: 100%"
          id="rulesdesc"
          type="Date"
          class="form-control1"
          placeholder="Enter Community Rules"
          style="width: fit-content"
          [(ngModel)]="event.Date"
        />
      </div>
      <div class="form-group">
        <label for="rulesdesc">Time</label>
        <input
          style="width: 100%"
          id="rulesdesc"
          type="Time"
          class="form-control1"
          placeholder="Enter Time"
          style="width: fit-content"
          [(ngModel)]="event.Time"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="rulesdesc">Price</label>

      <input
        style="width: 100%"
        id="rulesdesc"
        type="number"
        class="form-control1"
        placeholder="Enter Price"
        style="width: fit-content"
        [(ngModel)]="event.Price"
      />
    </div>
    <div class="form-group">
      <label for="rulesdesc">Community Rules</label>

      <textarea
        id="rulesdesc"
        class="form-control code-editor"
        placeholder="Enter Community Rules"
      ></textarea>
    </div>

    <div class="form-group">
      <button class="btn btn-primary">Create community</button>
    </div>
  </form>
</div>
