<div class="signup-wrapper">
    <h1 style="color: #fff; align-self: center; margin: 32px;">Sign up</h1>
    <input class="inputField" type="text" name="ForId" id="ForId" placeholder="Enter Email Id">
    <input class="inputField" type="text" name="ForId" id="ForId" placeholder="Enter Name">
    <input class="inputField" type="text" name="ForId" id="ForId" placeholder="Enter Password">
    <input class="inputField" type="text" name="ForId" id="ForId" placeholder="Confirm Password">
    <button class="primary-btn">Sign up</button>
</div>