<div class="wrap">
  <app-nav-bar></app-nav-bar>
</div>
<form class="signup-wrapper" (submit)="onSubmit()">
  <h1 style="color: var(--color-white); align-self: center; margin: 32px">
    Sign up
  </h1>
  <input style="color:#fff;" [(ngModel)]="user.Email" class="inputField" type="text" name="ForId" id="ForId"
    placeholder="Enter Email Id" />
  <input style="color:#fff;" [(ngModel)]="user.Username" class="inputField" type="text" name="ForId" id="ForId"
    placeholder="Enter Name" />
  <input style="color:#fff;" [(ngModel)]="user.Password" class="inputField" type="password" name="ForId" id="ForId"
    placeholder="Enter Password" />
  <input style="color:#fff" class="inputField" type="password" name="ForId" id="ForId" placeholder="Confirm Password" />
  <button class="primary-btn">Sign up</button>
</form>