<div class="home-wrapper">
  <app-owner-navbar></app-owner-navbar>
  <br />
  <br />
  <br />
  <br />
  <div class="home-container">
    <div class="postAndcomm-wrapper">
      <div
        style="
          padding: 0 50px 16px 50px;
          display: flex;
          justify-content: space-between;
        "
        class="wrap-search-btn"
      >
        <app-searchbox></app-searchbox>
        <a routerLink="/space/create" class="create-event">Create Space</a>
      </div>
      <!-- <app-home-func (type)="getType($event)"></app-home-func>
      <div *ngIf="type == '1'"> -->
      <div
        style="
          padding: 0 50px 0 50px;
          display: flex;
          justify-content: start;
          gap: 20px;
          flex-wrap: wrap;
        " class="wrapper-post">
        <div *ngFor="let sp of spaces">
          <div style="max-width: 300px">
            <app-space-card routerLink="/space/details/{{ sp.id }}" name="{{ sp.name }}" location="{{ sp.location }}"
              capacity="{{ sp.capacity }}" price="{{ sp.price }}"></app-space-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div>
  </div>
</div> -->
